* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Madimi One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ----------------------------------navbar----------------------------------------- */

.nav {
  background-color: #ffd60a;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  padding: 1%;
}

.logo {
  /* background-color: aqua; */
}

.logo a {
  text-decoration: none;
  font-size: 2.5rem;
  padding-left: 8px;
  padding-right: 8px;
}

.menu {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding-right: 8px;
  padding-left: 8px;
}

.menu a:hover {
  color: red;
}

/* -----------------------------------------cont-one------------------------------------- */

.cont-one {
  /* background-color: lightcyan; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.cocktail img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cocktail img:hover {
  transform: scale(1.1);
}

.para-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* background-color: yellowgreen; */
  padding: 2%;
}

.para-one p {
  font-size: 1.2rem;
  margin: 5%;
}

.cocktail {
  flex: 1;
  /* background-color: red; */
  overflow: hidden;
  transform: rotate(-6deg);
}

/* ----------------------------------------cont-two----------------------------------- */

.cont-two {
  background-color: #f9f2db;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5%;
}

.cont-two img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.para-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* background-color: lightsalmon; */
  padding: 2%;
}

.para-two p {
  font-size: 1.2rem;
  margin: 5%;
}

.para-three {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.para-three p {
  text-align: center;
  font-size: 1.2rem;
}

.rep {
  flex: 1;
  /* background-color: lightgrey; */
  overflow: hidden;
  transform: rotate(6deg);
}

.rep img {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.rep img:hover {
  transform: scale(1.1);
}

/* -------------------------------------container--------------------------------------------- */

.container {
  width: 100%;
  overflow: hidden;
  /* background-color: yellow; */
  /* padding: 2%; */
}

.image-wrapper {
  display: flex;
  animation-name: scrollImages;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  width: 50%;
  height: auto;
}

.image-wrapper img {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.image-wrapper img:hover {
  transform: scale(1.1);
}

@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500%);
  }
}

.image {
  width: 100%;
  height: auto;
  margin: 5%;
  border-radius: 5px;
}

/* --------------------------------------- Call to action ------------------------------------ */

.action {
  margin: 2.5%;
  display: flex;
  /* background-color: greenyellow; */
  padding: 1%;
  justify-content: space-between;
}

.call {
  /* background-color: blanchedalmond; */
  padding: 1%;
}

.call p {
  font-size: 1.2rem;
}

.btn-call {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-call button {
  background-color: #ffd60a;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
  white-space: nowrap;
}

.btn-call button:hover {
  background-color: #ffc300;
}

.btn-call button:focus {
  outline: none;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff8d5;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  margin: 2%;
  /* to popup on top  */
}

.popup h2 {
  margin: 2%;
}

.popup p {
  margin: 2%;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  margin: 2%;
}

/* -----------------------------------------nav-bottom------------------------------------  */

.nav-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-color: #ffd60a;
}

.nav-bottom p {
  font-size: 1rem;
}

/* --------------------------------------RESPONSIVE DESIGN-------------------------------------- */

@media screen and (width <= 720px) {
  .nav,
  .cont-one,
  .cont-two,
  .action {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .para-one p,
  .para-two p {
    text-align: center;
  }

  .call p {
    text-align: center;
  }
}
